/* Overall styles */
html,
body {
    min-width: 200px;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
}

body.skin-dark {
    background: darkgray;
}

.btn {
    padding: 5px 10px;
    background: #ccc;
    border: 1px solid #333;
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.btn:first-of-type{
    margin-left: 0;
}

.btn.current {
    background: rgb(252, 252, 179);
}

.btn span {
    padding: 2px 0 1px 0;
    margin-right: 5px;
    font-size: 12px;
}

.btn.new-note {
    border-color: rgb(89, 107, 32);
    background: rgb(115,146,17);
    color: rgb(233, 247, 191);
}

.hidden {
    display: none;
    /* use different technique to hide page title for better SEO results */
}

/* Styles for the overview page */
header {
    height: 100px;
    padding: 10px;
    border-bottom: 1px solid #333;
}

main {
    padding: 10px;
}

.functions,
.filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.note-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.note-list li {
    display: flex;
    margin-top: 10px;
    border-bottom: 1px solid #333;
}

.note-list .title-desc {
    flex-grow: 3;
    order: 0;
    width: 60%;
}

.note-list .dates {
    order: -1;
    display: flex;
    flex-direction: column;
    width: 22%;
}

.note-list .dates input {
    width: 10%;
}

.note-list .note-title {
    margin: 0;
    padding: 0;
}

.note-list.hideFinishedNotes li.done {
    display: none;
}

.note-list .additional {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 18%;
    margin-bottom: 5px;
}

.note-list .commands {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

li.done a.edit{
    pointer-events: none;
    color: lightgray;
}

#collapse-expand {
    width: 60px;
}

/* Styles for the notes page */
.note {
    display: block;
    margin-top: 30px;
    margin-left: 10px;
    width: 100%;
}

.item {
    display: flex;
    margin: 10px;
    width: 97%;
}

.desc {
    width: 30%;
}

input {
    width: 70%;
}

#desc {
    height: 100px;
    width: 528px;
}

#date {
    width: 120px;
}
