/* Overall styles */
html,
body {
    min-width: 200px;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body.skin-dark {
    background: #ccc;
}

.btn {
    padding: 5px 10px;
    background: #ccc;
    border: 1px solid #333;
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.btn:first-of-type{
    margin-left: 0;
}

.btn.current {
    background: rgb(252, 252, 179);
}

.btn span {
    padding: 2px 0 1px 0;
    margin-right: 5px;
    font-size: 1em;
}

.btn.new-note {
    border-color: rgb(89, 107, 32);
    background: rgb(115,146,17);
    color: rgb(233, 247, 191);
}

.hidden {
    display: none;
    /* use different technique to hide page title for better SEO results */
}

/* Styles for the overview page */
header {
    padding: 10px;
    border-bottom: 1px solid #333;
}

main {
    padding: 10px;
}

.functions,
.filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter {
    margin-bottom: 0;
}


#search{
    position: relative;
}

#search span {
    position: absolute;
    top: 2px;
    left: 2px;
}

#search input {
    padding: 2px;
}

.note-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.note-list li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.note-list .core{
    display: flex;
}

.note-list li .additional,
.note-list li .note-desc {
    display: none;
}

.note-list li.expanded .additional,
.note-list li.expanded .note-desc {
    display: block;
}

.note-list li.done .commands {
    visibility: hidden;
}

.note-list.hideFinishedNotes li.done {
    display: none;
}

.note-list .title-desc {
    flex-grow: 3;
    order: 0;
    width: 60%;
}

.note-list .note-title {
    font-size: 1.1em;
    margin: 0 10px;
    padding: 0;
}

.note-list .dueDate {
    padding: 3px;
    margin-right: 10px;
    font-size: .8em;
    color: #ccc;
}

.note-list .additional {
    margin-bottom: 5px;
}

/* Styles for the notes page */
.note {
    display: block;
    margin-top: 30px;
    margin-left: 10px;
    width: 100%;
}

.note .item {
    display: flex;
    margin: 10px;
    width: 97%;
}

.note .desc {
    width: 30%;
}

.note input {
    width: 70%;
}

.note #desc {
    height: 100px;
    width: 528px;
}

.note #date {
    width: 120px;
}
